// コラム・通常の投稿ページ・トップページに限定して適用
.post-type-archive-column,
.single-column,
.post-type-archive-post,
.single-post,
.tax-column_tag,
.home {
  &.body {
    height: auto !important;
    min-height: 100vh !important;
  }

  .ScrollSmoother-wrapper {
    z-index: 1 !important;
    pointer-events: none !important;

    .l-header,
    .ColumnArchive,
    .ColumnDetail {
      pointer-events: auto !important;
      transform: none !important;
    }
  }
}

.ColumnDetail {
  margin: 15rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 5rem 0;
  }

  .header {
    @media screen and (max-width: 699px) {
      padding: 0 2rem;
    }
  }

  .tags {
    font-size: 6.4rem;
    font-family: oswald, sans-serif;
    font-weight: 200;
    color: white;
    @media screen and (max-width: 699px) {
      font-size: 3.2rem;
      margin: 2em 0 0.5em 0;
    }
  }

  .date {
    font-size: 1rem;
    font-family: oswald, sans-serif;
    font-weight: 200;
    color: #d4d4d4;
    @media screen and (max-width: 699px) {
      margin: 0.5em 0;
    }
  }

  .name {
    font-size: 2rem;
    @media screen and (max-width: 699px) {
      font-size: 1.6rem;
      margin: 0.5em 0;
    }
  }

  .title {
    font-size: 3.1rem;
    @media screen and (max-width: 699px) {
      font-size: 2rem;
      line-height: 1.2em;
    }
  }

  .coverImage {
    position: relative;
    display: grid;
    gap: 0;
    margin-top: 1rem;
    z-index: -1;
    @media screen and (max-width: 699px) {
      margin-top: 2rem;
    }
  }

  .coverImageText {
    font-size: 10rem;
    color: white;
    font-family: oswald, sans-serif;
    font-weight: 200;
    color: white;
    line-height: 1;
    text-align: center;
    margin-top: -0.5rem;
    @media screen and (max-width: 699px) {
      font-size: 5rem;
    }
  }

  .article {
    margin: 8rem 0 4rem;
    font-size: 1.5rem;
    display: grid;
    gap: 3rem;
    line-height: 1.2;
    @media screen and (max-width: 699px) {
      margin: 4rem 0 2rem;
      gap: 2rem;
      font-size: 1.2rem;
      overflow: hidden;
      width: 100%;
    }

    > * {
      @media screen and (max-width: 699px) {
        padding: 0 2rem;
        line-height: 1.5;
      }
    }

    figure {
      margin: 4rem 0;
      @media screen and (max-width: 699px) {
        padding: 0;
        margin-block: 1rem;
      }

      img {
        width: 100% !important;
        height: auto !important;
        display: block;
        max-width: 100%;
      }
    }

    figure.aligncenter {
      margin-inline: auto;
      @media screen and (max-width: 699px) {
        padding: 0;
        margin-block: 1rem;
      }

      img {
        width: 100% !important;
        height: auto !important;
        display: block;
        max-width: 100%;
      }
    }

    h1 {
      font-size: 3.2rem;
      @media screen and (max-width: 699px) {
        font-size: 2.2rem;
        font-weight: bold;
      }
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      @media screen and (max-width: 699px) {
        font-size: 1.6rem;
      }
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    p {
      font-size: 1.2rem;
      line-height: 2.4;
      @media screen and (max-width: 699px) {
        font-size: 0.98rem;
      }
    }
    a {
      font-size: 1.2rem;
      color: #8e8e8e;
      text-decoration: underline;
    }

    ul {
      list-style: disc;
      @media screen and (max-width: 699px) {
        margin-left: 2rem;
      }
    }
    ol {
      list-style: auto;
      @media screen and (max-width: 699px) {
        margin-left: 2rem;
      }
    }
  }

  .profile {
    background: white;
    padding: 3rem 2rem;
    font-size: 1.5rem;
    display: grid;
    gap: 1rem;
    height: min-content;
    margin-top: 5rem;

    @media screen and (max-width: 699px) {
      margin: 0 2rem;
      padding: 2rem 1.5rem;
    }

    &_name {
      display: flex;
      align-items: baseline;
      gap: 2rem;
      @media screen and (max-width: 699px) {
        flex-direction: column;
        gap: 0;
      }

      &_ja {
        font-size: 3.2rem;
        @media screen and (max-width: 699px) {
          font-size: 2rem;
        }
      }

      &_en {
        font-size: 1.9rem;
        @media screen and (max-width: 699px) {
          font-size: 1.2rem;
        }
      }
    }

    &_tag {
      color: #d4d4d4;
      @media screen and (max-width: 699px) {
        font-size: 1rem;
      }
    }

    &_text {
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: left;
      line-height: 1.4;
      @media screen and (max-width: 699px) {
        font-size: 1rem;
      }
    }

    &_sns {
      display: flex;
      gap: 2rem;

      li {
        a {
          color: #8e8e8e;
          text-decoration: underline;
          font-weight: bold;
          @media screen and (max-width: 699px) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .pageNation {
    display: flex;
    justify-content: space-between;
    margin-top: 16rem;
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      margin-top: 4rem;
    }

    a {
      font-size: 2.1rem;
      color: #8e8e8e;
      cursor: pointer;
      font-family: oswald, sans-serif;
      font-weight: 200;
      @media screen and (max-width: 699px) {
        font-size: 1rem;
      }
    }

    li.disabled a {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .archive {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 15rem 0;
    @media screen and (max-width: 699px) {
      gap: 2rem;
      margin: 5rem 0;
      padding: 0 2rem;
      flex-direction: column;
    }
  }
}

.ColumnArchive {
  margin: 12rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 6rem 0 0;
    padding: 0 2rem;
  }

  .header {
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      padding: 0;
    }

    .latest {
      margin-bottom: 8rem;
      @media screen and (max-width: 699px) {
        margin-bottom: 4rem;
      }
      &_title {
        font-family: oswald, sans-serif;
        font-size: 4.8rem;
        font-weight: 200;
        color: white;
        text-align: center;
        margin-bottom: 1rem;
        color: rgba(255, 255, 255, 0.5);
        @media screen and (max-width: 699px) {
          font-size: 2.4rem;
          margin-top: 2rem;
        }
      }
      .Column_card {
        margin-inline: auto;
      }
    }

    .title {
      font-family: oswald, sans-serif;
      font-size: 12rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      @media screen and (max-width: 699px) {
        font-size: 3.2rem;
      }
    }

    .filter {
      background: white;
      padding: 2rem 4rem;
      color: #8e8e8e;
      margin-top: 4rem;
      @media screen and (max-width: 699px) {
        padding: 2rem;
        margin-top: 2rem;
      }

      &_header {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &_title {
        font-family: oswald, sans-serif;
        font-size: 2.8rem;
        font-weight: 200;
        letter-spacing: 0.1rem;
        @media screen and (max-width: 699px) {
          font-size: 1.4rem;
        }
      }

      &_button {
        border: 1px solid #8e8e8e;
        border-radius: 100vh;
        display: grid;
        place-items: center;
        line-height: 1;
        color: #8e8e8e;
        padding: 1rem 1.2rem;
        height: min-content;
        @media screen and (max-width: 699px) {
          font-size: 0.7rem;
          padding: 0.5rem 0.6rem;
        }
      }

      &_list {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        a {
          font-family: oswald, sans-serif;
          font-weight: 200;
          color: #8e8e8e;
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          @media screen and (max-width: 699px) {
            font-size: 0.9rem;
          }
        }
      }
    }

    .tag {
      font-family: oswald, sans-serif;
      font-size: 4.8rem;
      font-weight: 200;
      letter-spacing: 0.1rem;
      margin-top: 4rem;
      text-decoration: underline;
    }
  }

  .posts_title {
    font-family: oswald, sans-serif;
    font-size: 4.8rem;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.5);
    @media screen and (max-width: 699px) {
      font-size: 2.4rem;
    }
  }

  .content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    @media screen and (max-width: 699px) {
      grid-template-columns: 1fr;
      margin-top: 2rem;
    }

    .Column_card {
      width: unset;
    }
  }

  .pagenation {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 10rem;

    @media screen and (max-width: 699px) {
      margin-top: 4rem;
      gap: 2rem;
    }

    a {
      font-family: oswald, sans-serif;
      font-size: 3rem;
      color: #8e8e8e;

      @media screen and (max-width: 699px) {
        font-size: 1.6rem;
      }
    }
    a.current {
      text-decoration: underline;
    }
  }
}

.Column {
  &_card {
    position: relative;
    aspect-ratio: 1;
    width: 49.3rem;
    @media screen and (max-width: 699px) {
      width: unset;
    }

    &_image {
      position: absolute;
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &_info {
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(155, 155, 155, 1);
      color: white;
      width: 100%;
      padding: 2rem;
      opacity: 0.8;
      @media screen and (max-width: 699px) {
        padding: 1rem;
      }
    }

    &_date {
      font-size: 1rem;
      position: absolute;
      top: 1.8rem;
      right: 2rem;
      font-weight: 400;
      line-height: 1;
      @media screen and (max-width: 699px) {
        font-size: 0.6rem;
        top: 1rem;
        right: 1rem;
      }
    }

    &_tag {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      color: white;
      @media screen and (max-width: 699px) {
        font-size: 0.7rem;
      }
    }

    &_title {
      font-size: 1.4rem;
      line-height: 1.2;
      margin: 0.8rem 0;
      @media screen and (max-width: 699px) {
        font-size: 1.2rem;
      }
    }

    &_name {
      font-size: 1rem;
      line-height: 1;
      @media screen and (max-width: 699px) {
        font-size: 0.7rem;
      }
    }
  }
}
