// イベントページ・トップページに限定して適用
.post-type-archive-event,
.single-event,
.home {
  &.body {
    height: auto !important;
    min-height: 100vh !important;
  }

  .ScrollSmoother-wrapper {
    z-index: 1 !important;
    pointer-events: none !important;

    .l-header,
    .EventArchive,
    .EventDetail {
      pointer-events: auto !important;
    }
  }
}

.EventDetail {
  margin: 15rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 7rem 0;
  }

  .content {
    max-width: 80rem;
    margin: 0 auto;
    overflow: visible;
    @media screen and (max-width: 699px) {
      width: 100%;
      padding: 0 3rem;
    }
  }

  .header {
    display: grid;
    gap: 1.5rem;
    @media screen and (max-width: 699px) {
      gap: 1rem;
    }
    .tags {
      font-size: 4.5rem;
      font-family: oswald, sans-serif;
      font-weight: 200;
      color: white;
      letter-spacing: 0.2rem;
      @media screen and (max-width: 699px) {
        font-size: 3rem;
      }
    }
    .title {
      font-family: oswald, sans-serif;
      font-size: 4rem;
      color: #8e8e8e;
      text-align: center;
      @media screen and (max-width: 699px) {
        font-size: 2rem;
      }
    }
    .date {
      font-family: oswald, sans-serif;
      font-weight: 200;
      font-size: 3.1rem;
      text-align: center;
      @media screen and (max-width: 699px) {
        font-size: 2rem;
      }
      span {
        font-size: 1.8rem;
        margin-right: 0.5rem;
        @media screen and (max-width: 699px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  .body {
    font-size: 1.6rem;
    display: grid;
    gap: 4rem;
    margin-top: 6rem;
    line-height: 2;

    @media screen and (max-width: 699px) {
      font-size: 1.2rem;
      margin-top: 3rem;
    }
  }

  .pageNation {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      margin-top: 4rem;
      padding: unset;
    }

    a {
      font-size: 2.1rem;
      color: #8e8e8e;
      cursor: pointer;
      font-family: oswald, sans-serif;
      font-weight: 200;
      @media screen and (max-width: 699px) {
        font-size: 1.2rem;
      }
    }

    li.disabled a {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .latest {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: visible;
    width: 100%;
    margin-top: 10rem;
    @media screen and (max-width: 699px) {
      margin-top: 5rem;
      gap: 2rem;
      flex-direction: column;
      padding: 0 2.5rem;
    }
  }
}

.EventArchive {
  margin: 12rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 6rem 0 0;
    padding: 0 2rem;
  }

  .header {
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      padding: 0;
    }

    .title {
      font-family: oswald, sans-serif;
      font-size: 12rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      @media screen and (max-width: 699px) {
        font-size: 4.6rem;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 155rem;
    margin: 3rem auto 0;

    @media screen and (max-width: 699px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  .pagenation {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 10rem;

    @media screen and (max-width: 699px) {
      margin-top: 4rem;
      gap: 2rem;
    }

    a {
      font-family: oswald, sans-serif;
      font-size: 3rem;
      color: #8e8e8e;

      @media screen and (max-width: 699px) {
        font-size: 1.6rem;
      }
    }
    a.current {
      text-decoration: underline;
    }
  }
}

.EventCard {
  overflow: visible;
  width: 100%;

  &_item {
    padding: 3rem 2.7rem;
    background: #eceef1;
    box-shadow:
      rgba(255, 255, 255, 0.75) 0.25945rem -0.3rem 0.1875rem,
      rgba(168, 168, 168, 0.24) -0.25945rem 0.456411rem 0.3125rem,
      rgba(255, 255, 255, 0.16) -0.0864834rem 0.152137rem 0.1875rem inset;
    display: flex;
    border-radius: 0.8rem;
    gap: 2rem;
    position: relative;
    height: 22rem;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0 0.3rem 0.3rem;
    @media screen and (max-width: 699px) {
      width: 100%;
      height: 10rem;
      padding: 1.5rem 1rem;
      gap: 1rem;
      padding-right: 2rem;
    }
  }
  &_image {
    width: 30rem;
    @media screen and (max-width: 699px) {
      width: 14rem;
    }
    img {
      width: 100%;
    }
  }
  &_texts {
    font-family: oswald, sans-serif;
    font-weight: 200;
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30%;
  }
  &_type {
    font-size: 1.2rem;
    opacity: 0.5;
    white-space: nowrap;
    text-align: right;
    @media screen and (max-width: 699px) {
      font-size: 0.8rem;
      text-align: left;
    }
  }
  &_title {
    font-size: 1.7rem;
    @media screen and (max-width: 699px) {
      font-size: 0.9rem;
    }
  }
  &_date {
    font-size: 2.2rem;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    @media screen and (max-width: 699px) {
      font-size: 1.1rem;
      line-height: 1.1;
    }
    span {
      display: block;
      font-size: 1.3rem;
      @media screen and (max-width: 699px) {
        font-size: 0.7rem;
      }
    }
  }
  &_arrow {
    font-size: 2.6rem;
    line-height: 1;
    text-align: right;
    @media screen and (max-width: 699px) {
      display: none;
    }
  }
}
