// ニュースページ・トップページに限定して適用
.post-type-archive-news,
.single-news,
.home {
  &.body {
    height: auto !important;
    min-height: 100vh !important;
  }

  .ScrollSmoother-wrapper {
    z-index: 1 !important;
    pointer-events: none !important;

    .l-header,
    .NewsArchive,
    .NewsDetail {
      pointer-events: auto !important;
    }
  }
}

.NewsDetail {
  margin: 15rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 7rem 0;
  }

  .content {
    max-width: 80rem;
    margin: 0 auto;
    overflow: visible;
    @media screen and (max-width: 699px) {
      width: 100%;
      padding: 0 3rem;
    }
  }

  .header {
    display: grid;
    gap: 1.5rem;
    @media screen and (max-width: 699px) {
      gap: 1rem;
    }
    .tags {
      font-size: 6.4rem;
      font-family: oswald, sans-serif;
      font-weight: 200;
      color: white;
      letter-spacing: 0.2rem;
      @media screen and (max-width: 699px) {
        font-size: 3rem;
      }
    }
    .date {
      font-size: 1.2rem;
      opacity: 0.5;
    }
    .title {
      font-family: oswald, sans-serif;
      font-size: 3.1rem;
      color: #8e8e8e;
      @media screen and (max-width: 699px) {
        font-size: 1.7rem;
      }
    }
  }

  .body {
    font-size: 1.6rem;
    display: grid;
    gap: 4rem;
    margin-top: 6rem;
    line-height: 2;

    @media screen and (max-width: 699px) {
      font-size: 1.2rem;
      margin-top: 3rem;
    }
  }

  .pageNation {
    display: flex;
    justify-content: space-between;
    margin-block: 16rem;
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      margin-block: 4rem;
      padding: unset;
    }

    a {
      font-size: 2.1rem;
      color: #8e8e8e;
      cursor: pointer;
      font-family: oswald, sans-serif;
      font-weight: 200;
      @media screen and (max-width: 699px) {
        font-size: 1.2rem;
      }
    }

    li.disabled a {
      opacity: 0.4;
    }
  }

  .latest {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    overflow: visible;
    width: 100%;
    margin-top: 10rem;
    @media screen and (max-width: 699px) {
      margin-top: 5rem;
      gap: 2rem;
      flex-direction: column;
      padding: 0 2.5rem;
    }
  }
}

.NewsArchive {
  margin: 12rem 10rem 7.5rem;
  color: #8e8e8e;

  @media screen and (max-width: 699px) {
    margin: 6rem 0 0;
    padding: 0 2rem;
  }

  .header {
    padding: 0 2rem;
    @media screen and (max-width: 699px) {
      padding: 0;
    }

    .title {
      font-family: oswald, sans-serif;
      font-size: 12rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      @media screen and (max-width: 699px) {
        font-size: 6.4rem;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 155rem;
    margin: 3rem auto 0;
  }

  .pagenation {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 10rem;

    @media screen and (max-width: 699px) {
      margin-top: 4rem;
      gap: 2rem;
    }

    a {
      font-family: oswald, sans-serif;
      font-size: 3rem;
      color: #8e8e8e;

      @media screen and (max-width: 699px) {
        font-size: 1.6rem;
      }
    }
    a.current {
      text-decoration: underline;
    }
  }
}

.NewsList {
  .StaticContents & {
    background: white;
    padding: 0 10rem 8rem;
    border-radius: 1.6rem;
    @media screen and (max-width: 699px) {
      padding: 0 2rem 3rem;
    }
  }

  &_item {
    padding: 6rem 0 3.8rem;
    color: #8e8e8e;
    border-bottom: 1px solid #cfcfcf;
    position: relative;
    @media screen and (max-width: 699px) {
      padding: 3rem 0 2rem;
    }

    &:after {
      content: "→";
      display: block;
      font-size: 1.8rem;
      position: absolute;
      right: 0;
      bottom: 3.8rem;
      @media screen and (max-width: 699px) {
        display: none;
      }
    }
  }
  &_link {
    color: #8e8e8e;
  }
  &_meta {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    @media screen and (max-width: 699px) {
      font-size: 1rem;
    }
    .date {
      display: flex;
      align-items: center;

      &:after {
        content: "|";
        margin: 0 1rem;
        font-size: 1.2rem;
        @media screen and (max-width: 699px) {
          font-size: 1rem;
        }
      }
    }
    .tag {
      font-family: oswald, sans-serif;
      font-weight: 200;
    }
  }
  &_title {
    font-size: 1.6rem;
    margin-top: 3rem;
    @media screen and (max-width: 699px) {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}
